.flip-clock-divider .flip-clock-label {
    position: absolute;
    top: 9.5em;
    right: -86px;
    color: black;
    text-shadow: none;
}

.flip-clock-wrapper ul li a div div.inn {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 200%;
    color: #000;
    text-shadow: 0 1px 2px #000;
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
    font-size: 70px;
}

.flip-clock-wrapper {
    text-align: center;
    position: relative;
    width: 100%;
    font-family: "Roboto", sans-serif !important;
}

.flip-clock-divider:first-child {
    width: 20px;
}

.flip-clock-divider .flip-clock-label {
    position: absolute;
    top: 3em;
    right: -86px;
    color: transparent;
    text-shadow: none;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
}

.flip-clock-dot {
    display: block;
    background: transparent;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(0 0 0 / 0%);
    left: 5px;
}

.flip-clock-wrapper ul {
    width: 45px;
    height: 63px;
}

.flip-clock-wrapper ul li {
    line-height: 62px;
}

.flip-clock-wrapper ul li a div div.inn {
    font-size: 53px;
}

.flip-clock-divider {
    height: 75px;
}

.css-row {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}

.css-dias {
    padding-left: 63px;
}

.css-hrs {
    padding-left: 45px;
}

.css-min {
    padding-left: 25px;
}

.css-seg {}

@media only screen and (max-width: 600px) {
    .flip-clock-divider .flip-clock-label {
        position: absolute;
        top: 3em;
        right: -52px;
        color: transparent;
        text-shadow: none;
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
    }
    .flip-clock-divider:first-child {
        width: 0px;
    }
    .flip-clock-wrapper ul {
        width: 30px;
        height: 40px;
        margin: 2px;
    }
    .flip-clock-divider {
        width: 6px;
    }
    .flip-clock-wrapper ul li {
        line-height: 42px;
    }
    .flip-clock-wrapper ul li a div div.inn {
        font-size: 35px;
    }
    .flip-clock-divider.minutes .flip-clock-label {
        right: -60px;
    }
    .flip-clock-divider.seconds .flip-clock-label {
        right: -60px;
    }
    .flip-clock-divider {
        height: 5px;
    }
    .css-row {
        font-size: 1em;
    }
    .css-dias {
        padding-left: 35px;
    }
    .css-hrs {
        padding-left: 20px;
    }
    .css-min {
        padding-left: 2px;
    }
    .css-seg {
        padding-left: 15px;
        text-align: left;
    }
}

.play-button {
    width: 950px;
    height: 544px;
    position: relative;
    cursor: pointer;
    background-color: black;
    /* border-radius: 25px; */
}

.play-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
}

.play-close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -30px;
    bottom: calc(100% + 0px);
    border: none;
    border-radius: 50%;
    outline: none;
    background: #fff;
    box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 30%);
    opacity: 0;
    cursor: pointer;
}

.play-close::before,
.play-close::after {
    content: "";
    display: block;
    width: 70%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: rotate(45deg);
    background-color: #495463;
}

.play-close::after {
    transform: rotate(-45deg);
}

.play-circles {
    display: block;
    width: 100%;
    height: 100%;
}

.play-perspective {
    width: 950px;
    height: 544px;
    position: absolute;
    left: -25px;
    top: -21px;
    z-index: 100;
}

.play-triangle {
    width: 950px;
    height: 544px;
    background-color: #fff;
    cursor: pointer;
}

.play-iframe {
    width: 950px;
    height: 650px;
}

.video-class {
    background: transparent;
    box-shadow: none;
    align-items: center;
}

.video-innr {
    width: 885px;
}

@media only screen and (max-width: 600px) {
    .video-innr {
        width: 400px;
    }
    .play-button {
        width: 336px;
        height: 336px;
    }
    .play-perspective {
        width: 600px;
        height: 384px;
        left: -132px;
        top: -32px;
    }
    .play-triangle {
        width: 700px;
        height: 400px;
        background-color: #fff;
        cursor: pointer;
    }
    .play-iframe {
        width: 400px;
        height: 300px;
        left: 100px;
        position: relative;
    }
    .play-close {
        right: 99px;
        bottom: calc(100% + -28px);
        z-index: 1;
    }
}