.bg-plomo-degradado{
    background: rgb(190,190,190) !important;
    background: linear-gradient(145deg, rgba(190,190,190,1) 0%, rgba(232,232,232,1) 46%, rgba(82,82,82,1) 100%) !important;
    padding: 3%;
}

.title-f-101 h5{
    margin-top: 20%;
    font-size: 70px;
    font-weight: bold;
    color: #525252;
}

.title-f-101 h5 #span-title-f-101{
    color: var(--color-base-theme-user);
}

.title-f-101 p{
    font-size: 18px;
    color: #525252;
}

#img-f-101{
    width: 100%;
}

.bg-opciones-f-101{
    background-color: var(--color-base-theme-user) !important;
}

#opciones-banner-f-101{
    margin-top: -7%;
    padding: 0px 3% 0px 3%; 
}

.bg-opciones-f-101 i{
    font-size: 50px;
}

#directo-punto i{
    font-size: 10px;
}

@media (max-width: 768px) {
    .bg-plomo-degradado{
        padding: 0px;
    }

    .title-f-101 h5{
        margin-top: 10%;
        font-size: 50px;
    }

    .title-f-101 p{
        font-size: 17px;
    }

    #opciones-banner-f-101{
        margin-top: 0px;
        padding: 0px 2% 0px 2%; 
    }
}

@media (max-width: 1180px){
    .title-f-101 h5{
        font-size: 40px;
    }
}
