.letra-blanca {
    color: var(--color-text-theme-auxiliar);
}

.letra-noticacion-no-leida {
    color: black;
}

.background-notificacion-no-leida {
    background-color: var(--color-transparente-theme-user) !important;
}

.btn-primary-notifications {
    background: #fff;
    color: #000;
    font-size: 11px;
    border-color: #fff;
    border-radius: 10px;
    padding: 2px 8px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.btn-check:active + .btn-primary-notifications,
.btn-check:checked + .btn-primary-notifications,
.btn-primary-notifications.active,
.btn-primary-notifications:active,
.show > .btn-primary-notifications.dropdown-toggle {
    color: #fff;
    background-color: var(--color-base-theme-user);
    border-color: var(--color-base-theme-user);
}

.moonPulse {
    animation: pulse 2s infinite;
    border-radius: 50%;
}

/* Initially, hide the extra text that can be revealed with the button */
.moreText {
    /* Display nothing for the element */
    display: none;
}

.position-absolute {
    position: absolute !important;
}

.truncated-notifications {
    position: relative;

    .text-truncated-notifications {
        display: inline-block;
        padding-right: 100px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .btn-truncated-notifications {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.btn.btn-truncated-notifications {
    width: 100px;
    padding: 0;
}
