.inf-card i {
    color: #f18f01;
}

.top-max-height {
    max-height: 400px;
    padding-right: 8px;
}

@media screen and (max-width: 720px) {
    .top-max-height {
        max-height: 100%;
        padding-right: 0px;
    }
}

.shadow-img-top {
    box-shadow: var(--color-include-css) 0px 0px 15px 0px !important;
}

.texto-background-card {
    color: var(--color-referidos-text);
    background: var(--color-referidos-background);
}
