.h1 {
    font-weight: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

.li {
    display: inline-block;
    font-size: 0.7em;
    list-style-type: none;
    padding: 0.5em;
    text-transform: uppercase;
    margin: 0px;
}

.li span {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin: 0px;
}

.emoji {
    display: none;
    padding: 1rem;
}

.emoji span {
    font-size: 4rem;
    padding: 0 0.5rem;
}

.fa-move {
    animation: fa-move 5s ease infinite;
}

@keyframes fa-move {
    0% {
        transform: scale(1);
    }

    5% {
        transform: scale(1.25);
    }

    20% {
        transform: scale(1);
    }

    30% {
        transform: scale(1);
    }

    35% {
        transform: scale(1.25);
    }

    50% {
        transform: scale(1);
    }

    55% {
        transform: scale(1.25);
    }

    70% {
        transform: scale(1);
    }
}

.fa-beat {
    animation: fa-beat 1s linear infinite;
    transform-origin: 50% 0;
}

@keyframes fa-beat {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 601px) {
    #frame {
    }
}

@media (max-width: 1700) {
    #clock-navbar {
        left: calc(100% + 2%);
    }
}

.loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    margin-left: -60px;
    margin-top: -60px;
}

.loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    transform-origin: 60px 60px;
    -webkit-mask-image: -webkit-linear-gradient(
        top,
        rgb(240, 128, 128),
        rgb(240, 128, 128)
    );
    animation: rotate 1.2s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}
