.color-purple-inactivo{
    color: #8590a5 !important;
}

#nft-menu #nft-sub-menu i{
    color: var(--color-purple-inactivo-auxiliar) !important;   
}

#nft-menu #nft-sub-menu:hover span{
    color: var(--color-purple-auxiliar)  !important;   
}

#nft-menu #nft-sub-menu:hover i{
    color: var(--color-purple-auxiliar)  !important;   
}

#nft-menu .sub-menu li:hover a{
    color: var(--color-purple-auxiliar)  !important;   
}

.waves-effect:hover i{
    color: var(--color-purple-auxiliar)  !important;   
}

.copiado{
    text-align: center !important;
    color: var(--color-base-auxiliar) !important;
}

#footer{
    min-height: 90px !important;
    padding: 8px 0px 8px 0px !important;
}

.container-redes-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-redes-footer {
    width: 20px;
    height: 20px;
    margin: 0px 10px 0px 10px;
}

.image-redes-footer:hover{
    filter: grayscale(100%) brightness(200%);
}

.loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.5px var(--color-loader-auxiliar);
}

::-webkit-scrollbar-thumb {
    background: var(--color-style-black-ddd-auxiliar);
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: var(--color-theme-black-base-auxiliar);
    border-radius: 20px;
}

.container-clock {
    color: var(--color-text-theme-auxiliar);
    margin: 0 auto;
    text-align: center;
}

.list-group-item {
    background-color: #ffffff00;
    color: var(--color-text-theme-auxiliar) !important;
}

.flashite {
    font-size: 8px;
    border-radius: 50%;
    margin-left: -20px;
    margin-top: -10px;
    -webkit-animation: flash linear 2s infinite;
    animation: flash linear 2s infinite;
    margin-top: 5%;
    margin-left: -25%;
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}

/* popover */
.popover-btn {
    position: relative !important;
    display: inline-block !important;
}

.popover {
    visibility: hidden;
    background-color: var(--color-popover-auxiliar) !important;
    color: var(--color-popover-text-auxiliar);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border-color: transparent transparent var(--color-popover-auxiliar) transparent !important;
    padding: 7px;
    position: absolute !important;
    z-index: 2 !important;
    top: 115% !important;
    left: 50% !important;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    width: auto;
    min-width: 120px;
    text-align: center !important;
}

.popover::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--color-popover-auxiliar) transparent;
}

.popover-btn:hover + .popover {
    visibility: visible;
    opacity: 1;
}

#popover-whatsapp-no-verify{
    min-width: 230px !important;
}

#popover-whatsapp-verify{
    min-width: 170px !important;
}

/* bg negro cuando este con tema tengro y viceversa */
.bg-theme-user{
    background-color: var(--bg-compoment-theme-user) !important;
}
