@import url("https://fonts.googleapis.com/css?family=Montserrat:400");

body {
    position: initial;
}

body[data-sidebar=dark] .navbar-brand-box {
    background: var(--color-base-a-blanco-theme-user);
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid var(--color-base-theme-user);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: var(--bg-loading-theme-user);
    z-index: 99;
}

.ti-close {
    color: var(--color-ti-close-theme-user) !important;
}

#loading-image {
    z-index: 100;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body[data-sidebar=dark] .vertical-menu {
    background: var(--color-base-a-blanco-theme-user);
}

body[data-sidebar=dark] .menu-title {
    color: var(--color-title-sidebar-theme-user);
}

body[data-sidebar=dark] #sidebar-menu ul li a {
    color: var(--color-sidebar-menu-ul-a-theme-user);
}

body[data-sidebar=dark] #sidebar-menu ul li a i {
    color: var(--color-sidebar-menu-ul-a-theme-user);
}

body[data-sidebar=dark] #sidebar-menu a:hover:not(.active) {
    background-color: var(--bg-sedebar-menu-a-hover-theme-user);
    color: var(--color-sedebar-menu-a-hover-theme-user);
}

body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>a {
    background: var(--bg-sedebar-menu-a-hover-theme-user);
    color: var(--color-vertical-menu-li-hover-theme-user) !important;
}

body[data-sidebar=dark] #sidebar-menu ul li ul.sub-menu li a {
    color: #d7e4ec;
}

body[data-sidebar=dark] .mm-active .active {
    color: var(--color-sedebar-menu-a-hover-theme-user) !important;
    background-color: var(--bg-sedebar-menu-a-hover-theme-user);
}

body[data-sidebar=dark] .mm-active .active i {
    color: var(--color-base-theme-user) !important;
}

body[data-sidebar=dark] .mm-active .active i {
    color: var(--color-base-purple-a-blanco-theme-user) !important;
}

body[data-sidebar=dark] #vertical-menu-btn {
    color: var(--color-base-sidebar-theme-user);
    border-color: transparent;
}

body[data-sidebar=dark] #page-header-user-dropdown {
    color: var(--color-base-sidebar-theme-user);
    border-color: #fff;
}

body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu ul li li a.active,
body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu ul li li a.mm-active {
    color: #d7e4ec !important;
}

.btn {
    min-width: 0px;
}

.btn-light {
    color: black;
}

.vertical-collpsed .vertical-menu {
    position: fixed;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--color-base-theme-user);
}

.cssbuttons-io-button {
    background: linear-gradient(45deg, var(--color-base-sidebar-theme-user) 0%, var(--color-base-theme-user) 100%) !important;
}

.gift-card {
    background: var(--bg-gift-card-theme-user) !important;
    border: var(--border-gift-card-theme-user);
}

.gift-card p {
    color: var(--text-gift-card-theme-user) !important;
}

.car {
    background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, var(--color-base-sidebar-theme-user) 10%, var(--color-base-theme-user) 17%), linear-gradient(to right, var(--color-base-sidebar-theme-user), var(--color-base-theme-user)) !important;
}

.leaderboard header {
    background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, var(--color-base-sidebar-theme-user) 10%, var(--color-base-theme-user) 17%), linear-gradient(to right, var(--color-base-sidebar-theme-user), var(--color-base-theme-user)) !important;
}

.form-control {
    margin-top: 0px !important;
    font-size: .9rem !important;
}

.card-body {
    background: radial-gradient(circle, rgb(255 255 255) 0%, var(--color-base-theme-user) 100%) !important;
}

.accordion-heading {
    background: var(--color-base-theme-user);
}

.accordion-s2 .accordion-heading {
    padding-left: 20px;
}

.color-style {
    color: #ffffff;
}

.accordion-heading:before {
    top: 20px;
    background: #ffffff;
    margin-right: 10px;
}

.accordion-heading:after {
    top: 15px;
    background: #ffffff;
    margin-right: 10px;
}

@media (max-width: 420px) and (min-width: 375px) {
    .phase-block {
        display: block;
        align-items: flex-start;
    }
}

@media (min-width: 480px) {
    .btn-xs {
        padding: 8px 20px;
        font-size: 14px;
    }
}

/************************* include-css *************************************/
.main-content {
    transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

.navbar-brand-box {
    transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    height: 70px;
}

.vertical-menu {
    transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

.text-rotate {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.text-rotate .span-text {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.text-rotate:hover .span-text {
    animation: text-rotate 2s ease forwards 1;
}

.text-rotate:hover .span-text:nth-child(2) {
    animation-delay: 0.1s;
}

.text-rotate:hover .span-text:nth-child(3) {
    animation-delay: 0.2s;
}

.text-rotate:hover .span-text:nth-child(4) {
    animation-delay: 0.3s;
}

.text-rotate:hover .span-text:nth-child(5) {
    animation-delay: 0.4s;
}

.text-rotate:hover .span-text:nth-child(6) {
    animation-delay: 0.5s;
}

.text-rotate:hover .span-text:nth-child(7) {
    animation-delay: 0.6s;
}

@keyframes text-rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.card {
    border-radius: 20px;
}

.card-bordered {
    border-radius: 20px;
}

.modal-content {
    border-radius: 20px;
}

@media (max-width: 991px) {
    .navbar-brand-box {
        border-bottom-left-radius: 20px;
    }

    body.sidebar-enable .navbar-brand-box {
        border-bottom-left-radius: 0px;
        transition: none;
    }

    #page-topbar {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    body.sidebar-enable #page-topbar {
        border-bottom-left-radius: 0px;
    }
}

@media (max-width: 992px) {
    body.sidebar-enable .vertical-menu {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}


.gift-card {
    border-radius: 0.9em;
    height: 2.6em;
}

.gift-card p {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: -7px;
    color: #fff;
}

.cssbuttons-io-button {
    background: linear-gradient(45deg, #252b3b 0%, #384e71 100%);
    color: white;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 3em;
    padding-right: 3.3em;
    width: 170px;
}

.cssbuttons-io-button .iconz {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #384e71;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .iconz {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .iconz svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #384e71;
}

.cssbuttons-io-button:hover .iconz svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .iconz {
    transform: scale(0.95);
}

.onclic {
    width: 40px;
    /* border-color: $gray; */
    border-width: 3px;
    font-size: 0;
    /* border-left-color: $green; */
    animation: rotating 2s 0.25s linear infinite;

    &:after {
        content: "";
    }

    &:hover {
        /* color: $green; */
        background: white;
    }
}

.validate {
    font-size: 13px;
    color: white;
    /* background: $green; */

    &:after {
        content: "\f00c";
    }
}

.color-picker {
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #dfe2e5;
    padding: 5px 20px 5px 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    border-radius: 20px;
    min-width: 0px;
}

@media screen and (max-width: 600px) {
    .color-picker {
        background-color: #ffffff;
        border-radius: 3px;
        border: 1px solid #dfe2e5;
        padding: 5px 20px 5px 15px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
        max-width: 73px !important;
        left: 408px !important;
        right: 0px;
        border-radius: 20px;
        min-width: 0px;
        margin-left: 282px;
    }
}

.color-list {
    list-style: none;
    padding: 0;
}

.color-list li {
    display: inline-block;
    margin-top: 10px;
}

.color {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: attr(data-color);
    transition: transform 0.3s;
}

.color:not(.active):hover {
    cursor: pointer;
    transform: scale(1.2);
    color: black !important;
}

.color.active {
    border: 5px solid #ddd;
    width: 32px;
    height: 32px;
}

.form-control {
    display: block;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D7D1D5;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px 0px 10px 5px;
    font-size: 18px;
    line-height: 1.75;
}

#button2 {
    transition: all 0.5s;
    background: #fff;
    border-radius: 0.9em;
    position: revert;
    border-width: 1px;
    border-style: solid;
    border-color: #83898f;
}

.copy-trigger {
    height: 2.6em !important;
}

#button2 i {
    color: #495463;
    display: block;
    width: 38px;
    line-height: 17px;
    text-align: center;
    font-size: 18px;
}

#button2 p {
    line-height: 40px;
    position: absolute;
    top: 0;
    margin: 0;
    width: 230px;
    color: #495463;
    font-size: 14px;
}

#button2:hover {
    width: 200px;
    cursor: pointer;
}

.noti-icon .noti-dot {
    right: 10px;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#logocontainer {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 23vh;
    height: 23vh;
    overflow: hidden;
    z-index: 3;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#pelogo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 2vh;
    top: 2vh;
    width: 19vh;
    height: 19vh;
    background: #5a577c;
    background: -moz-linear-gradient(-45deg, #34324b 0%, #161222 100%);
    background: -webkit-linear-gradient(-45deg, #34324b 0%, #161222 100%);
    background: linear-gradient(135deg, #ffffff00 0%, #ffffff00 100%);
    background-size: contain;
    font-family: Trebuchet MS, sans-serif;
    font-size: 14vh;
    font-weight: bold;
    color: #dad2e7;
    text-align: center;
    line-height: 19vh;
}

#backk {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: unset;
    opacity: 0.7;
    background-color: rgb(214 211 223);
    z-index: 2;
}

.load {
    display: block;
    position: absolute;
    background-color: var(--color-include-css);
}

/*Pretty complex animation, so each side needs its own @keyframes.*/
@keyframes slide1 {
    50% {
        width: 32vh;
        margin-left: 0;
    }

    100% {
        margin-left: 32vh;
    }
}

@keyframes slide2 {
    50% {
        height: 32vh;
        margin-top: 0;
    }

    100% {
        margin-top: 32vh;
    }
}

@keyframes slide3 {
    50% {
        width: 32vh;
        margin-right: 0;
    }

    100% {
        margin-right: 32vh;
    }
}

@keyframes slide4 {
    50% {
        height: 32vh;
        margin-bottom: 0
    }

    100% {
        margin-bottom: 32vh;
    }
}

.card-video {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blob.red {
    background: rgba(255, 82, 82, 1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

